%p#notice= notice

- unless @index == Game::MAX_INDEX
  %h2= "#{@character} #{@number}"
- else
  %h2 Finish!

%h3= "#{@history}(#{@history.size})"
%h4= "#{@remaining_numbers}(#{@remaining_numbers.size})"

= link_to 'Next', game_path(@game, index: @index + 1)
= link_to 'Finish', games_path
